
@import './variables.scss';
@import './blocks/header.scss';
@import './blocks/catalog.scss';
@import './blocks/item.scss';
@import './blocks/footer.scss';

.page__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8fafb;
}

.page__header {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #fb651b;
}

.page__main {
  width: 1200px;
  display: flex;
  flex-direction: column;
  font-family: 'Open sans', sans-serif;
  font-style: normal;
}
