// colors

$special-orange: #fb651b;
$border-gray: #dee9ee;
$light-gray: #a19f9f;
$white: #ffffff;
$link-gray: #b1b1b1;
$button-background: #f3f3f3;
$dark-gray-text: #636363;

$button-clicked: #ddab60;
$link-clicked: #f5996b;
