.comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 33px;
  background-color: $white;
  padding: 20px;
  border: 1px solid #dee9ee;
}

.comments__wrapper {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dee9ee;
}

.comments__inner {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.comments__header {
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.comments__link {
  color: $link-gray;
  text-decoration: none;
  margin-top: 2px;

  &:hover {
    color: $special-orange;
  }

  &:active {
    color: $link-clicked;
  }
}

.comments__list {
  list-style: none;
  margin: 0;
  padding: 0;

  &:not(:first-of-type) {
    margin: 0 20px;
  }
}
