.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.footer__item {
  padding: 0 10px;
  
  &:not(:last-of-type) {
    border-right: 1px solid $link-gray;
  }
}

.footer__link {
  color: $link-gray;
  text-decoration: none;

  &:hover {
    color: $special-orange;
  }
}
