.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__logo-image {
  display: block;
  margin-right: 10px;
  margin-left: 10px;
}

.header__logo-text {
  display: block;
  font-family: 'Open sans', sans-serif;
  font-size: 24px;
  color: #ffffff;
}

.header__refresh {
  display: block;
  padding: 10px 16px;
  margin-right: 20px;
  background-color: $button-background;
  color: $link-gray;
  cursor: pointer;
  border-radius: 20px;
  box-sizing: border-box;
  border: none;

  &:hover {
    background-color: $white;
    color: $special-orange;
  }

  &:active {
    background-color: $special-orange;
    color: $white;
    border: 1px solid $white;
  }
}

.header__link {
  text-decoration: none;
}

.header__return {
  display: block;
  padding: 10px 16px;
  margin-right: 20px;
  background-color: $special-orange;
  color: $white;
  cursor: pointer;
  border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid $white;
  text-decoration: none;

  &:hover {
    background-color: $white;
    color: $special-orange;
  }

  &:active {
    background-color: $special-orange;
    color: $white;
    border: 1px solid $white;
  }
}