.item__stat {
  position: relative;
  display: flex;
}

.item__stat::after {
  position: absolute;
  content: '';
  right: -5px;
  top: 5px;
  width: 1px;
  height: 80%;
  background-color: $border-gray;
}

.item__points-data {
  margin: 0;
  padding: 15px;
}

.item__stat-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  margin: 0;
}

.item__stat-header {
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: $special-orange;
}

.item__stat-text {
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: $light-gray;
  text-transform: uppercase;
}

.item__info {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  padding: 15px 20px;
}

.item__header {
  font-size: 18px;
  font-weight: 600px;
  line-height: 28px;
  padding: 0;
  margin: 0;
}

.item__data {
  position: relative;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item__data-point {
  position: relative;
  font-size: 14px;
  margin-right: 31px;
  color: $light-gray;
}

.item__data-point:first-of-type {
  margin-left: 20px;
}

.item__data-time::before {
  position: absolute;
  content: '';
  top: 3px;
  left: -18px;
  width: 13px;
  height: 13px;
  background-image: url('../../img/clock.svg');
  opacity: 50%;
}

.item__data-author::before {
  position: absolute;
  content: '';
  top: 3px;
  left: -17px;
  width: 13px;
  height: 13px;
  background-image: url('../../img/user.svg');
  opacity: 50%;
}

.item__data-page::before {
  position: absolute;
  content: '';
  top: 3px;
  left: -19px;
  width: 13px;
  height: 13px;
  background-image: url('../../img/link.svg');
  opacity: 50%;
}

.item__data-link {
  color: $light-gray;
  text-decoration: none;
}

.item__button {
  display: flex;
  align-items: center;
  margin: auto 0;
  margin-left: 10px;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: $button-background;
  color: $link-gray;
  cursor: pointer;
}

.item__button:hover {
  background-color: $special-orange;
  color: $white;
}

.item__button:hover .item__button-link {
  color: $white;
}

.item__button-link {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
