.item__stat {
  position: relative;
  display: flex;
}

.item__stat::after {
  position: absolute;
  content: '';
  right: -5px;
  top: 5px;
  width: 1px;
  height: 80%;
  background-color: $border-gray;
}

.item__points-data {
  margin: 0;
  padding: 15px;
}

.item__stat-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  margin: 0;
}

.item__stat-header {
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: $special-orange;
}

.item__stat-text {
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: $light-gray;
  text-transform: uppercase;
}

.item__stat-link {
  display: block;
  align-self: center;
  text-decoration: none;
  box-sizing: padding-box;
  padding: 10px 0;
  border-radius: 5px;

  &:hover {
    background-color: $special-orange;
  }
}

.item__stat-link:hover .item__stat-header {
  color: $white;
}

.item__stat-link:hover .item__stat-text {
  color: $white;
}

.item__info {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  padding: 15px 20px;
}

.item__header {
  font-size: 18px;
  font-weight: 600px;
  line-height: 28px;
  padding: 0;
  margin: 0;
}

.item__button {
  display: flex;
  align-items: center;
  margin: auto 0;
  margin-left: 10px;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: $button-background;
  color: $link-gray;
  cursor: pointer;

  &:hover {
    background-color: $special-orange;
    color: $white;
  }

  &:active {
    background-color: $link-clicked;
  }
}

.item__button:hover .item__button-link {
  color: $white;
}

.item__button-link {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.item__text {
  padding: 0;
  margin: 10px 0;
  margin-bottom: 20px;
  padding-right: 20px;
}